/* I couldn't get this working in a Codecademy workspace */
@font-face {
  font-family: Apercu;
  font-weight: 400;
  src: url("fonts/Apercu Font Family/Apercu\ Light.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: 700;
  src: url("fonts/Apercu Font Family/Apercu\ Bold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: Apercu;
  letter-spacing: .5px;
}

/* navbar */

nav {
  border-bottom: 1px solid black;
  padding-left: 5.5%;
  height: 63px;
}

nav ul {
  /* only way I could get them to center vertically */
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 0 .57em;
  font-size: 15px;
}

nav li img {
  height: 28px;  
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #3A10E5;
}

.triangle-down {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 1px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

#right-start {
  padding-left: 26.25%;
}

nav .right {
  padding: 0 1.2em;
}

nav .right img {
  height: 25px;
}

#account {
  height: 42px;
  padding: -.25em 1em;
}

/* header */

#main-header {
  background-color: #10162F;
  height: 222px;
  margin: 0;
}

#main-header h1, #main-header h3 {
  margin: auto;
  color: white;
}

.non-bold {
  font-weight: normal;
}

#main-header h3, #main-header h1 {
  padding-left: 455px;
}

#main-header h3 {
  padding-top: 50px;
  font-size: 15px;
}

#main-header h1 {
  font-size: 4rem;
  padding-top: 4px;
  letter-spacing: -0.4px;
}

#main-header ul {
  margin-left: 1000px;
  margin-top: 7px;
}

#main-header li {
  display: inline-block;
  color: #FFD300;
  font-size: 15px;
  padding-right: 20px;
}

#main-header li img {
  position: relative;
  top: 7px;
  padding-right: 5px;
  height: 23px;
}

#main-header .triangle-down {
  border-top: 7px solid #FFD300;
  margin-left: 5px;
}