/* I couldn't get this working in a Codecademy workspace */
@font-face {
  font-family: Apercu;
  font-weight: 400;
  src: url("fonts/Apercu Font Family/Apercu\ Light.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: 700;
  src: url("fonts/Apercu Font Family/Apercu\ Bold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: Apercu;
  letter-spacing: .5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3A10E5;
}

/* header nav */

header nav {
  border-bottom: 1px solid black;
  padding-left: 5.5%;
  height: 63px;
}

header nav ul {
  /* only way I could get them to center vertically */
  display: flex;
  align-items: center;
}

header nav li {
  display: inline-block;
  padding: 0 .57em;
  font-size: 15px;
}

header nav li img {
  height: 28px;  
}

.triangle-down {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 1px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid black;
}

#right-start {
  padding-left: 26.25%;
}

header nav .right {
  padding: 0 1.2em;
}

header nav .right img {
  height: 25px;
}

#account {
  height: 42px;
  padding: -.25em 1em;
}

/* header */

#main-header {
  background-color: #10162F;
  height: 222px;
  margin: 0;
}

#main-header h1, #main-header h3 {
  margin: auto;
  color: white;
  padding-left: 455px;
}

#main-header h3 {
  padding-top: 50px;
  font-size: 15px;
}

.non-bold {
  font-weight: normal;
}

#main-header .non-bold a {
  color: white;
}

#main-header .non-bold a:hover {
  color: #FFD300;
}

#main-header h1 {
  font-size: 4rem;
  padding-top: 4px;
  letter-spacing: -0.4px;
}

#main-header ul {
  margin-left: 1000px;
  margin-top: 7px;
}

#main-header li {
  display: inline-block;
  font-size: 15px;
  padding-right: 20px;
}

#main-header li img {
  position: relative;
  top: 7px;
  padding-right: 5px;
  height: 23px;
}

#main-header li a {
  color: #FFD300;
}

#main-header .triangle-down {
  border-top: 7px solid #FFD300;
  margin-left: 5px;
}

/* topics nav */

main nav {
  width: 226px;
  height: 291px;
  border: 2px solid #10162F;
  background-color: white;
  position: relative;
  top: -56px;
  left: 151px;
  padding: 5px 0 0 0;
  letter-spacing: .4px;
}

main nav h3, main nav li {
  padding-left: 16px;
}

main nav h3 {
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 12px;
}

main nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main nav li {
  font-size: 15px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}

main nav .here {
  font-weight: bold;
  border-left: 8px solid #10162F;
}
